.monster {
  background-color: white;
  border: 3px solid $secondary-color;
  width: 400px;
  height: 400px;
  margin: 30px auto;
}
.card-small {
  display: grid;
  grid-template-rows: 3fr 1fr; /* Adjust accordingly */
  align-items: start;
  padding: 20px;
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

.monster-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monster-card p {
  color: $accent-color_one;
  font-family: $font-main;
  font-size: 18px;
}

.monster-card h4 {
  color: $accent-color_one;
  font-family: $font-main;
  font-size: 24px;
}
